:root {
  font-family: "Gilroy", sans-serif;
}
@font-face {
  src: url("/fonts/Gilroy-SemiBold.ttf");
  font-family: "Gilroy-SemiBold";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}

@font-face {
  src: url("/fonts/Gilroy-Medium.ttf");
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}

@font-face {
  src: url("/fonts/Gilroy-Regular.ttf");
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}

@font-face {
  src: url("/fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1624px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #3f48cc;
}
.switch-wrapper > div {
  position: absolute;
}
.switch-wrapper {
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin: 0;
  /* Center slide text vertically */

  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper .swiper-slide {
  margin: 0 13px !important;
  /* width: 12.5% !important; */
  /* width: 177px !important; */
}
.swiper-wrapper .swiper-slide:first-child {
  margin-left: 0 !important;
}
.swiper-wrapper .swiper-slide:last-child {
  margin-right: 0 !important;
}
@media (max-width: 1600px) {
  .container {
    max-width: 1450px;
  }
}
@media (max-width: 1530px) {
  .container {
    max-width: 1450px;
    padding: 0 36px;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 900px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .swiper-wrapper .swiper-slide:first-child {
    margin-left: 0 !important;
  }
  .swiper-wrapper .swiper-slide:last-child {
    margin-right: 0 !important;
  }
}
