:root {
  font-family: "Gilroy", sans-serif;
}
@font-face {
  src: url("/fonts/Gilroy-SemiBold.ttf");
  font-family: "Gilroy-SemiBold";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}

@font-face {
  src: url("/fonts/Gilroy-Medium.ttf");
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}

@font-face {
  src: url("/fonts/Gilroy-Regular.ttf");
  font-family: "Gilroy-Regular";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}

@font-face {
  src: url("/fonts/Gilroy-Bold.ttf");
  font-family: "Gilroy-Bold";
  font-style: normal;
  font-display: auto;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1624px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #3f48cc;
}
.switch-wrapper > div {
  position: absolute;
}
.switch-wrapper {
  position: relative;
}
@media (max-width: 1600px) {
  .container {
    max-width: 1450px;
  }
}
@media (max-width: 1530px) {
  .container {
    max-width: 1450px;
    padding: 0 36px;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 900px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
